body {
    margin: 0;
    padding: 0;
    background-color: white;
}

#portfolio_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#page_breaker {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 1);
}

#column_1 {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-basis: 350px;

}

#column_2 {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-basis: 350px;
}

/*------ FOOTER ------*/

footer {
    text-align: center;
    color: black;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1vw;
    width: 100%;
}

footer p {
    margin-bottom: 1.2vw;
}

.social_media_links {
    margin-bottom: 2vw;
}

.social_media_links a {
    color: black;
    opacity: 0.8;
    padding: 5px;
    font-size: 1.5vw;
}

/*------ TOP SECTION -----*/

#top_title {
    padding-top: 18vw;
    width: 100%;
    height: 100%;
}

#top_text {
    color: white;
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 3.5vw;
    padding-right: 1.5vw;
    letter-spacing: 1vw;
    text-align: right;
    width: 100%;
    margin-bottom: 6vw;
}

#splash_video {
    position: absolute;
    z-index: -2;
    width: 105%;
    top: -22vw;
    left: -5vw;
    filter: grayscale();
}

#slideup_arrow {
    position: absolute;
    top: 36.5vw;
    color: white;
    font-size: 5vw;
    margin-left: 2vw;
    padding: 20px;
    cursor: pointer;
    display: none;
}


/*-------- NAVIGATIONSMENU -------*/

#nav_bar {
    display: inline-block;
    width: 100%;
    padding: 5px;
}

#nav_bar a {
    text-decoration: none;
    color: black;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1.5vw;
    padding: 10px;
}

/*----- PORTFOLIO FRAMES ------*/

.project {
    width: 100%;
    height: 450px;
    opacity: 0.7;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-color: white;
}

.project:hover {
    opacity: 0.9;
}

.active {}

/*------ PROJECTS -------*/

#tommy {
    background-image: url(img/tommy_logo.jpg);
    height: 33.3vw;
}

#reachout {
    background-image: url(img/reachout.png);
    height: 28vw;
}

#animation {
    background-image: url(img/animation.png);
    height: 28vw;
}

#moonbar_probably {
    background-image: url(img/moonbar_probably_logo.jpg);
    height: 32vw;
}

#cphdox {
    background-image: url(img/likeme.jpg);
    height: 30vw;

}

#sexogsamfund {
    background-image: url(img/ss_privatsnak.jpg);
    height: 26vw;
}

#redesign {
    background-image: url(img/atlasbar.jpg);
    height: 26vw;
}

#kea_rent {
    background-image: url(img/kea_rent_mock_dark.jpg);
    height: 30vw;

}

#stilartsite {
    background-image: url(img/flatdesign.jpg);
    height: 33.3vw;

}

/*------ PROJECT INFORMATION ------*/

.project_info {
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    padding-bottom: 3vw;
}

.project_info h1 {
    text-align: center;
    color: white;
    font-family: 'Raleway';
    font-size: 3vw;
    font-weight: 100;
}

.project_info h2 {
    text-align: center;
    color: white;
    font-family: 'Raleway';
    font-size: 2vw;
    font-weight: 100;
}

.project_info p {
    color: white;
    font-family: 'Open Sans';
    margin: 20px 22.5vw;
    line-height: 30px;
}

#example_video {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.text {
    margin: 40px 0;
}

/*------- TOMMY -----*/

#info_tommy {}

#teasers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#teasers iframe {
    padding: 5px;
}

/*------ CPH:DOX - Everyday ------*/

#info_cphdox {}

/*------ REACH OUT ------*/

#info_reachout {}

/*------ MOON BAR: PROBABLY ------*/

#info_moonbar_probably {}

/*------ SEX OG SAMFUND ------*/

#info_sexogsamfund {}

/*------ KEA RENT ------*/

#info_kea_rent {}

/*------- CV SITE -------*/

* {
    box-sizing: border-box;
}

#cv_image {
    background-image: url(img/blogger_pic.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    position: relative;
    top: 20px;
    margin: auto;
    z-index: 2;
    border: 4px solid #FF9F55;
    margin-bottom: 50px;
}

#about {
    padding: 20px 30px;
    background-color: black;
    position: relative;
    border-radius: 6px;
    width: 50%;
    margin: 50px auto;
    z-index: 2;
    text-align: center;
}

#cv_icon_education {
    background-image: url(img/education_icon.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 20px;
    margin: auto;
    z-index: 2;
    border: 4px solid #FF9F55;
    margin-bottom: 50px;
}

#cv_icon_work {
    background-image: url(img/work_icon.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 20px;
    margin: auto;
    z-index: 2;
    border: 4px solid #FF9F55;
    margin-bottom: 50px;
}


.content h2,
#about h2 {
    color: white;
    font-family: 'Raleway';
    font-size: 1.6vw;
}

.content p,
#about p {
    color: white;
    font-family: 'Raleway';
    font-size: 1.1vw;
}


/*----- TIMELINE W3SCHOOLS.COM -----*/

/* The actual timeline (the vertical ruler) */

.timeline {
    padding: 40px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 55%;
}

/* The circles on the timeline */

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */

.left {
    left: -56px;
}

/* Place the container to the right */

.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent black;
}

/* Add arrows to the right container (pointing left) */

#fakediv {
    color: aquamarine;
    right: 20px;
    background-color: black;
    font-family: cursive;

}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
}

/* Fix the circle for containers on the right side */

.right::after {
    left: -16px;
}

/* The actual content */

.content {
    padding: 20px 30px;
    background-color: black;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */

@media all and (max-width: 700px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 150px;
    }

    /* Full-width containers */
    .container {
        width: 75%;
        left: 79px;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid black;
        border-width: 10px 10px 10px 0;
        border-color: transparent black transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    #cv_image {
        left: -16%;
        width: 50vw;
        height: 50vw;
    }

    .content h2,
    #about h2 {
        color: white;
        font-family: 'Raleway';
        font-size: 2.4vw;
    }

    .content p,
    #about p {
        color: white;
        font-family: 'Raleway';
        font-size: 2vw;
    }

    #about {
        width: 89.5%;
        margin: 0;
    }

}


/*---- DROP DOWN MENU ---*/

header {
    position: fixed;
    width: 100%;
    background-color: black;
    height: 55px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 4;
}

.container_drop {
    margin: 0;
    position: fixed;
    padding: 8px 20px;
    display: block;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.65);
    min-width: 200px;
    border-radius: 0px 0px 20px 0px;
}

.container_drop a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: rgb(85, 85, 85);
}

.change .bar2 {
    opacity: 0;
    background-color: rgb(85, 85, 85);
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: rgb(85, 85, 85);
}

.dropdown {
    display: none;
}

.dropdown-content {
    min-width: 160px;
    width: 20px;
    z-index: 1;
    padding: 10px;
}

.dropdown-content a {
    color: white;
    padding: 25px 0px 10px 5px;
    text-decoration: none;
    display: block;
    font-family: 'Raleway';
    letter-spacing: 1vw;
}

.dropdown-content a:hover {
    transform: scale(1.1);
}

.show {
    display: block;
}

/*-------- Media Queries ---------- */

@media all and (min-width: 701px) {
    header {
        display: none;
    }
}

/*----- MOBILE VERSION -----*/

@media all and (max-width: 701px) {

    #nav_bar {
        display: none;
    }

    .project {
        opacity: 1;
    }

    .project:hover {
        opacity: 1;
    }

    #tommy {
        height: 70vw;
    }

    #reachout {
        height: 60vw;
    }

    #animation {
        height: 30vw;
    }

    #moonbar_probably {
        height: 60vw;
    }

    #cphdox {
        height: 56vw;
    }

    #sexogsamfund {
        height: 50vw;
    }

    #redesign {
        height: 50vw;
    }

    #kea_rent {
        height: 55vw;
    }

    #stilartsite {
        height: 70vw;
    }
    /*------ FOOTER ------*/
    footer {
        margin-top: 4vw;
        text-align: center;
        color: black;
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 2.5vw;
        padding-right: 2vw;
        width: 100%;
    }

    footer p {
        margin-bottom: 2vw;
    }
    .social_media_links {
        margin-bottom: 4vw;
    }
    .social_media_links a {
        color: black;
        opacity: 0.8;
        padding: 5px;
        font-size: 2.5vw;
    }

    /*------ TOP SECTION -----*/
    #top_title {
        padding-top: 42vw;
        width: 100%;
        height: 100%;
        display: flex;
    }

    #top_text {
        margin-top: 37vw;
        font-size: 4vw;
    }

    #splash_video {
        top: 5.5vw;
        width: 230%;
        left: -60vw;
    }

    /*------ PROJECT INFORMATION ------*/
    .project_info {
        width: 100%;
        height: 100%;
    }

    .project_info h1 {
        text-align: center;
        color: white;
        font-family: 'Raleway';
        font-size: 5.2vw;
        font-weight: 100;
    }

    .project_info h2 {
        text-align: center;
        color: white;
        font-family: 'Raleway';
        font-size: 3.8vw;
        font-weight: 100;
    }

    .project_info p {
        color: white;
        font-family: 'Open Sans';
        margin: 20px 5vw;
        line-height: 30px;
    }

    #example_video {
        display: flex;
        justify-content: center;
    }

    .text {
        margin: 20px 0;
    }

    /*----- CV SITE ----*/
    #cv_icon_education {
        width: 55px;
        height: 55px;
        left: 83px;
        margin-left: 0;
        margin-right: 0;
    }

    #cv_icon_work {
        width: 55px;
        height: 55px;
        left: 83px;
        margin-left: 0;
        margin-right: 0;
    }

    #cv_image {
        width: 270px;
        height: 270px;
        margin-left: 11.5%;
        margin-right: 0;
    }
}
