body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#portfolio_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.page_breaker {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 1);
}

#icon {
    background-image: url(img/icon_2.png);
    background-size: 100%;
    filter: invert(100%);
    position: absolute;
    top: 1.5vw;
    left: 1.5vw;
    width: 15vw;
    height: 15vw;
    cursor: pointer;
}

#top_bttn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #242424;
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 1.5vw;
    letter-spacing: 0.2vw;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#top_bttn:hover {
    background-color: #555;
}

/*------ FOOTER ------*/

footer {
    text-align: center;
    color: white;
    background-color: black;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1vw;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

footer p {
    margin-bottom: 1.2vw;
    text-decoration: none;
    color: white;
}

.social_media_links {
    margin-bottom: 1.5vw;
}

.social_media_links a {
    color: white;
    padding: 5px;
    font-size: 1.5vw;
}

/*------ TOP SECTION -----*/

#top_title {
    padding-top: 18vw;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.top_text {
    color: white;
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 3.5vw;
    padding-right: 1vw;
    letter-spacing: 1vw;
    text-align: right;
    width: 100%;
    margin-bottom: 6vw;
}

#splash_video {
    position: absolute;
    z-index: -2;
    width: 105%;
    top: -22.2vw;
    left: -5vw;
    filter: grayscale(100%) brightness(95%);
}

#slideup_arrow {
    position: absolute;
    top: 36.5vw;
    color: white;
    font-size: 5vw;
    margin-left: 2vw;
    padding: 20px;
    cursor: pointer;
    display: none;
}


/*-------- NAVIGATIONSMENU -------*/

#nav_bar {
    display: inline-block;
    width: 100%;
    padding: 5px;
}

#nav_bar a {
    text-decoration: none;
    color: black;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1.5vw;
    padding: 10px;
    cursor: pointer;
}

#nav_bar a:hover {
    color: white;
}

/*----- PORTFOLIO FRAMES ------*/

.active {}

#portfolio {
    display: flex;
    flex-wrap: wrap;
}

.links_container {
    display: block;
    width: 100%;
}

.project {
    background-image: url(square_img/no_project.png);
    width: 25%;
    height: 25vw;
    margin: 30px 30px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.project:hover {
    opacity: 0.7;
}


/*---- PROJECTS HOVER TEXT ----*/

.project:hover .middle {
    opacity: 1;
}

.text {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 15px;
    padding: 20px 15px;
    text-align: center;
    font-family: 'Open Sans';
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: 50%;
    width: 100%;
}

/*------ PROJECTS -------*/

#tommy {
    background-image: url(square_img/tommy.png);
}

#reachout {
    background-image: url(square_img/reachout.png);
}

#moonbar_probably {
    background-image: url(square_img/moonbar_probably_logo.png);
}

#cphdox {
    background-image: url(square_img/cphdox_likeme.png);
}

#sexogsamfund {
    background-image: url(square_img/ss_privatsnak.png);
}

#redesign {
    background-image: url(square_img/atlasbar.jpg);
}

#kea_rent {
    background-image: url(square_img/kea_rent_mock_dark.png);

}

#stilartsite {
    background-image: url(square_img/flatdesign_info.png);

}

#intro_video {
    background-image: url(square_img/intro_video_mockup.png);
}

#animation_kealife {
    background-image: url(square_img/animation.png);
}

/*------ PROJECT INFORMATION ------*/

.project_info {
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    padding-bottom: 3vw;
    display: none;
}

.project_info h1,
h2 {
    text-align: center;
    color: white;
    font-family: 'Raleway';
    font-size: 3vw;
    font-weight: 100;
}

.project_info h2 {
    font-size: 2vw;
}

.project_info p {
    color: white;
    font-family: 'Open Sans';
    margin: 20px 22.5vw;
    line-height: 30px;
}

.project_info p a {
    color: white;
}

.project_info p a:hover {
    font-weight: 600;
}

.example_video {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.pics_examples {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.videoshoot {
    width: 30vw;
    height: 17.6vw;
    margin: 15px;
    filter: contrast(1.2);
}

.videoshoot iframe {
    width: 30vw;
    height: 17.8vw;
    margin: 15px;
    margin-left: 0;
    margin-top: 0;
}

.example_pic {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.pic_frame {
    width: 60%;
    height: 100%;
}

.pic_frame img {
    width: 100%;
    height: 100%;
}

/*------- TOMMY -----*/

#info_tommy {}

#teasers {
    display: flex;
    justify-content: center;
}

#teasers iframe {
    padding: 5px;
}

@media all and (max-width: 925px) {
    #teasers {
        flex-wrap: wrap;
    }
}

iframe {
    border: none;
}

/*------ CPH:DOX - Everyday ------*/

#info_cphdox {}

#cph_pic1 {
    background-image: url(img/cphdox_1.png);
    background-size: cover;
    background-position: 0 -20px;
    background-repeat: no-repeat;
}

#cph_pic2 {
    background-image: url(img/cphdox_2.png);
    background-size: cover;
    background-position: 0 -20px;
    background-repeat: no-repeat;
}

/*------ REACH OUT ------*/

#info_reachout {}

/*------ MOON BAR: PROBABLY ------*/

#info_moonbar_probably {}

#mb_pic1 {
    background-image: url(small_img/mb_videoshoot_1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#mb_pic2 {
    background-image: url(small_img/mb_videoshoot_2.png);
    background-size: cover;
    background-size: 120%;
    background-position: -60px -70px;
    background-repeat: no-repeat;
}

#mb_vid {
    width: 100%;
    height: auto;
}

/*------ KEA RENT ------*/

#atlasbar_styletile {
    width: 100%;
    height: 100%;
    text-align: center;
}

#atlasbar_styletile img {
    width: 55vw;
    height: 100%;
}

/*------ SEX OG SAMFUND ------*/

#info_sexogsamfund {}

/*-------- STILARTSITE ------*/

#info_stilartsite .pic_frame {
    width: 56.6%;
}

#stilart_styletile {
    width: 100%;
    height: 100%;
    text-align: center;
}

#stilart_styletile img {
    width: 55vw;
    height: 100%;
}

/*------ KEA RENT ------*/

#info_kea_rent {}

/*------ KEA LIFE - ANIMATION ---*/

#info_animation_kealife .pic_frame {
    width: 56.6%;
}

#kealife_styletile {
    width: 100%;
    height: 100%;
    text-align: center;
}

#info_animation_kealife .videoshoot {
    width: 20vw;
    height: 22vw;
    margin: 15px;
    filter: contrast(1.2);
}

#kealife_styletile img {
    width: 55vw;
    height: 100%;
}

#kl_pic1 {
    background-image: url(img/woman_sketch.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#kl_pic2 {
    background-image: url(img/signep_sketch.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#kl_pic3 {
    background-image: url(img/man_sketch.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*------- CV SITE -------*/

#sectionwrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cv_column {
    width: 50%;
    flex-basis: 300px;
    flex-grow: 1;
    position: relative;
    top: 50px;
    margin: 0 50px;
}

#cv_1 {
    order: 2;
}

#cv_2 {
    order: 1;
}

#cv_pic {
    background-image: url(img/IMG_4076_2.png);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: bottom;
    width: 38vw;
    height: 38vw;
    border-radius: 50%;
    z-index: 2;
    border: 8px solid white;
    margin-bottom: 50px;
    margin: auto;
}

.cv_column p {
    color: white;
    font-family: 'Open Sans';
    font-size: 1.1vw;
    margin-bottom: 35px;
}

#cv_icon_education {
    background-image: url(img/education_icon.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    background-color: white;
    filter: invert(1);
    z-index: 2;
    border: 4px solid black;
    margin-left: 30px;
}

#cv_icon_work {
    background-image: url(img/work_icon.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    background-color: white;
    filter: invert(1);
    z-index: 2;
    border: 6px solid black;
    margin-left: 30px;
}

@media all and (max-width: 719px) {
    #cv_1 {
        order: 1;
    }

    #cv_2 {
        order: 2;
    }

    #cv_pic {
        width: 80vw;
        height: 80vw;
    }

    .cv_column {
        width: 100%;
    }

    .cv_column p {
        font-size: 3vw;
    }
}

/*---- DROP DOWN MENU - W3SCHOOLS.COM ---*/

header {
    position: fixed;
    width: 100%;
    background-color: white;
    height: 55px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 4;
}

.container_drop {
    text-align: right;
    margin: 0;
    position: fixed;
    right: 0;
    padding: 8px 20px;
    display: block;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.69);
    min-width: 200px;
    transform: rotateY(180deg);
    border-radius: 0px 0px 30px 0px;
}

.container_drop a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    transform: rotateY(180deg);
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: rgb(85, 85, 85);
}

.change .bar2 {
    opacity: 0;
    background-color: rgb(85, 85, 85);
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: rgb(85, 85, 85);
}

.dropdown {
    display: none;
}

.dropdown-content {
    min-width: 160px;
    width: 20px;
    z-index: 1;
    padding: 10px;
}

.dropdown-content a {
    color: black;
    padding: 25px 0px 10px 5px;
    text-decoration: none;
    display: block;
    font-family: 'Raleway';
    letter-spacing: 1vw;
}

.dropdown-content a:hover {
    transform: scale(1.1) rotateY(180deg);
}

.show {
    display: block;
}

/*-------- Media Queries ---------- */

@media all and (min-width: 688px) and (orientation: landscape) {

    .links_container {
        flex-wrap: nowrap;
        display: flex;
        justify-content: center;
    }
}

@media all and (min-width: 901px) {
    header {
        display: none;
    }
}

/*----- MOBILE VERSION -----*/

@media all and (max-width: 901px) {

    #nav_bar {
        display: none;
    }

    .links_container {
        flex-wrap: nowrap;
        display: flex;
        justify-content: center;
    }
    /*----- TOMMY PETERSEN -----*/
    /*----- REPUBLIKKEN: REACH OUT -----*/
    /*----- ANIMATION: KEA LIFE -----*/
    #info_animation_kealife .pic_frame {
        width: 100%;
    }

    #kealife_styletile img {
        width: 90%;
        height: 100%;
    }

    #info_animation_kealife .videoshoot {
        width: 25vw;
        height: 40vw;
    }

    #kealife_moodboard img {
        width: 90%;
        height: 100%;
    }

    /*----- MOON BAR: PROBABLY -----*/
    /*----- CPH:DOX - EVERYDAY -----*/
    /*----- SEX OG SAMFUND -----*/
    /*----- REDESIGN: ATLAS BAR -----*/
    #atlasbar_styletile img {
        width: 90%;
        height: 100%;
    }
    /*----- UX: KEA RENT -----*/
    /*----- STILARTSITE: FLAT DESIGN -----*/
    #stilart_styletile img {
        width: 94%;
        height: 100%;
    }
    /*----- HOW TO BE A LADIES MAN -----*/
    /*------ FOOTER ------*/
    footer {
        font-size: 2.5vw;
    }

    footer p {
        margin-bottom: 2vw;
    }
    .social_media_links {
        margin-bottom: 4vw;
    }
    .social_media_links a {
        color: black;
        opacity: 0.8;
        padding: 5px;
        font-size: 2.5vw;
    }

    /*------ TOP SECTION -----*/
    #top_title {
        padding-top: 32vw;
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        position: relative;
    }

    .top_text {
        margin-top: 37vw;
        font-size: 4vw;
    }

    #icon {
        top: 12vw;
        left: -2.5vw;
        width: 35vw;
        height: 35vw;
    }

    #splash_video {
        top: -15.5vw;
        left: -68vw;
        width: 250%;
    }

    #slideup_arrow {
        top: 121.5vw;
        color: white;
        font-size: 10vw;
        margin-left: 2vw;
    }

    /*------ PROJECT INFORMATION ------*/
    .project_info {
        width: 100%;
        height: 100%;
    }

    .project_info h1 {
        text-align: center;
        color: white;
        font-family: 'Raleway';
        font-size: 5.2vw;
        font-weight: 100;
    }

    .project_info h2 {
        text-align: center;
        color: white;
        font-family: 'Raleway';
        font-size: 3.8vw;
        font-weight: 100;
    }

    .project_info p {
        color: white;
        font-family: 'Open Sans';
        margin: 20px 5vw;
        line-height: 30px;
    }

    .pics_examples {
        flex-wrap: wrap;

    }
    .videoshoot {
        width: 100%;
        height: 58.2vw;
    }
    iframe {
        width: 100%;
        height: 58.2vw;
    }

    .videoshoot iframe {
        width: 100%;
        height: 52.2vw;
    }

    .pic_frame {
        width: 100%;
    }
    #info_stilartsite .pic_frame {
        width: 100%;
    }

    /*----- CV SITE ----*/
    #cv_icon_education {
        width: 55px;
        height: 55px;
        left: 83px;
        margin-left: 0;
        margin-right: 0;
        border: 3px solid black;
    }

    #cv_icon_work {
        width: 55px;
        height: 55px;
        left: 83px;
        margin-left: 0;
        margin-right: 0;
        border: 3px solid black;
    }

}

@media all and (max-width: 688px) {

    .project {
        background-image: url(square_img/no_project.png);
        width: 85%;
        height: 85vw;
        margin: 15px 30px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .links_container {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
}
